html {
    background-color: #fffff4;
    font-family: monospace;
    color: #223;
    line-height: 1.8;
}

body {
    margin: 0 auto;
    max-width: 75ch;
    font-size: 125%;
    padding: 0 1.5rem;
}

ul {
    list-style-type: none;
}

ul.nav {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

img {
    max-width:100%;
    height: auto;
}
